---
- name: Installer paquets Zabbix de base
  apt:
    name:
      - apache2
      - mariadb-server
      - zabbix-agent
    state: present
    update_cache: yes

- name: Démarrer services
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - apache2
    - mysql
